fastapi
uvicorn
python-multipart
pydantic-settings
langchain
langchain-groq
langchain-community
langchain-huggingface
langgraph
chromadb
redis
tavily-python
duckduckgo-search
pypdf
pdfplumber
sentence-transformers
python-dotenv
aiofiles
jinja2
python-jose[cryptography]
passlib[bcrypt]
ddgs
langchain-text-splitters
